@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="apps">
    <p>
        Folgende Applikationen stehen zur Verfügung:
    </p>
    <div class="list-group apps-list">
        <a class="list-group-item list-group-item-action" href="http://inventur.lautner.net">Inventur App</a>
        <a class="list-group-item list-group-item-action" href="http://tms.lautner.net">Zeiterfassung</a>
    </div>
</div>